.tamanho-imagem {
    width: 1300px;
    height: 300px;
    margin-bottom: 50px;   
}

.img1 {
    width: 1300px;
    height: 333px;   
}

.img2 {
    width: 1300px;
    height: 333px;   
}

.img3 {
    width: 1300px;
    height: 333px;   
}

.title-custom {
    background-color: #e9b300 !important;
    color: black !important;
    padding: 10px;
    border-radius: 5px;
}

.marcas img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.scale-effect:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
